.vision {
  position: relative;
  display: flex;
  min-height: 700px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 120px 24px 40px;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;

  &::before {
    position: absolute;
    z-index: 0;
    background-image: url('../images/Shapes.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90% auto;
    content: '';
    inset: 0;
    opacity: 1;
    pointer-events: none;
  }

  &__content {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 760px;
  }

  &__title {
    margin: 0 0 36px;
    color: #253858;
    line-height: 1.2;
    font-family:
      Poppins Arial,
      Helvetica,
      sans-serif;
    font-weight: 600;
    font-size: 52px;
    line-height: 150%;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
  }

  &__description {
    max-width: 740px;
    margin: 0 auto 72px;
    color: #6f7c91;
    font-weight: 500;
    line-height: 1.45;
    font-family:
      Open Sans Arial,
      Helvetica,
      sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    letter-spacing: 0px;
    text-align: center;
  }

  &__button {
    display: inline-flex;
    width: 264px;
    min-height: 56px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 8px;
    background: #2060f6;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
    font-family:
      Poppins Arial,
      Helvetica,
      sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0px;
    text-align: center;

    &:hover {
      background: #144edb;
    }

    &:focus-visible {
      outline: 3px solid #253858;
      outline-offset: 4px;
    }
  }
}
