.expertise {
  padding-top: 124px;
  padding-bottom: 155px;
  border-radius: 30px;
  background-color: #fff;

  &-label {
    font-family: 'Poppins Arial', Helvetica, sans-serif;
    font-size: 52px;
    font-weight: 600;
    line-height: 150%;
    color: #253757;
    text-align: center;
    letter-spacing: 0;
    vertical-align: middle;
  }
  &-cards {
    display: flex;
    gap: 177px;
    align-items: center;
    justify-content: center;
  }
  &-card {
    &-image {
      top: 1574px;
      left: 276px;

      display: block;

      width: 166px;
      height: 166px;
      margin: 0 auto;
    }
    &-label {
      font-family: 'Poppins Arial', Helvetica, sans-serif;
      font-size: 20px;
      font-weight: 600;
      line-height: 140%;
      color: #253757;
      text-align: center;
      letter-spacing: 0;
    }
    &-text {
      font-family: 'Open Sans Arial', Helvetica, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      color: #6c788b;
      text-align: center;
      letter-spacing: 0;
    }
  }
}
