.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  margin: 0;
  padding: 10px 227px;

  background: #2c2c2c;
}

.nav {
  justify-self: center;

  &-list {
    display: flex;
    gap: 48px;
    align-items: center;
    justify-content: center;

    list-style: none;
  }

  &-link {
    font-family: 'Poppins Arial', Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 150%;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    position: relative;

    &::after {
      content: '';

      position: absolute;
      bottom: -8px;
      left: 0;

      width: calc(100% - 3px);
      height: 2px;

      background: #2060f6;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.3s ease;
      transform-origin: center;

    }

    &-hire {
      position: relative;
      justify-self: end;

      &::after {
        content: '';

        position: absolute;
        bottom: -8px;
        left: 0;

        width: calc(100% - 3px);
        height: 2px;
        transform: scaleX(1);

        background: #2060f6;
        animation: none;
      }
    }
        &:hover::after {
    transform: scaleX(1);
  }
  }

  &-logo {
    display: flex;
    align-items: center;
    justify-self: start;
  }
}

.logo-images {
  width: 46px;
  height: 28px;
  object-fit: contain;
}
