.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  padding-top: 28px;
  padding-left: 227px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 100vh;

  background: #2c2c2c;

  &-title {
    font-family: 'Poppins Arial', Helvetica, sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 68px;
    color: #fff;
    letter-spacing: -2px;
  }

  &-text {
    max-width: 362px;

    font-family:
      'Open Sans' Arial,
      Helvetica,
      sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    letter-spacing: 0;
  }


  &-button {
    width: 264px;
    height: 50px;
    margin-top: 83px;
    border: none;
    border-radius: 8px;

    font-family: 'Poppins Arial', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
    color: #fff;
    text-align: center;
    letter-spacing: 0;

    background-color: #2060f6;
    cursor: pointer;
    transition: background-color 0.3s linear;

    &:hover{
      background-color: #0b3bac;
    }
  }

  &-visual {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &-image {
    position: relative;

    display: block;

    width: 687px;
    height: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

    opacity: 1;
  }

  &-slider {
    display: flex;
    gap: 12px;
    margin-left: 48px;

    &-link {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 32px;
      height: 32px;
      border-radius: 50%;

      text-decoration: none;

      background-color: #fff;
      margin: 0;
    }
    &-link-image {
      width: 18px;
      height: 18px;
      background-color: #253757;
    }
  }
  &-intro {
    position: absolute;
    bottom: 0;
    left: 0;

    display: flex;
    gap: 24px;
    align-items: center;

    padding: 30px;

    color: #fff;

    &-label {
      font-family: 'Poppins Arial', Helvetica, sans-serif;
      font-size: 13px;
      font-weight: 700;
      line-height: 100%;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 3px;
    }

    &-desc {
      font-family:
        'Open Sans' Arial,
        Helvetica,
        sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      letter-spacing: 0;
    }
  }
}
