.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 227px;
  padding-top: 48px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;

  background: #2c2c2c;

  &-title {
    font-family: 'Poppins Arial', Helvetica, sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 68px;
    letter-spacing: -2px;
    color: #fff;
  }

  &-text {
    color: #fff;
    font-family:
      'Open Sans' Arial,
      Helvetica,
      sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0;
    max-width: 362px;
  }

  &-button {
    border-radius: 8px;

    font-family: 'Poppins Arial', Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 100%;
    color: #fff;
    text-align: center;
    letter-spacing: 0;
    margin-top: 83px;

    background-color: #2060f6;
  }

  &-visual{
    width: 100%;
    height: 100%;
  }

  &-image{
    display: block;
  width: 687px;
  height: 680px;
  opacity: 1;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: relative;
  }

  &-button{
    width: 264px;
    height: 50px;
    border: none;
    border-radius: 8px;
  }
  &-slider{
    display: flex;
    gap: 12px;
    margin-left: 48px;

    &-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;
    text-decoration: none;
  }
  &-link-image {
    background-color: #253757;
    width: 18px;
    height: 18px;
  }
  }

  &-visual{
    position: relative;
  }

  &-intro{
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 30px;
  color: #fff;

  &-label{
    font-family: Poppins Arial, Helvetica, sans-serif;
font-weight: 700;
font-size: 13px;
line-height: 100%;
letter-spacing: 3px;
text-align: center;
text-transform: uppercase;

  }

  &-desc{
    font-family: 'Open Sans' Arial, Helvetica, sans-serif;
font-weight: 400;
font-size: 14px;
line-height: 140%;
letter-spacing: 0px;

  }
  }
}
