.process {
  padding: 100px 227px;

  &-inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
  }

  &-info {
    width: 40%;
  }

  &-subtitle {
    font-family:
      Poppins Arial,
      Helvetica,
      sans-serif;
    font-weight: 700;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 3px;
    text-align: start;
    text-transform: uppercase;
    color: #c0cdd7;
    padding: 0;
  }

  &-title {
    font-family:
      Poppins Arial,
      Helvetica,
      sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0px;
    vertical-align: middle;
  }

  &-desc {
    align-items: center;
    font-family:
      Open Sans Arial,
      Helvetica,
      sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0px;
    color: #6c788b;
  }

  &-cards {
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  &-number-circule {
    display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(32, 96, 246, 0.1);
      height: 24px;
      width: 46px;
      border-radius: 23px;
  }

  &-card {
    width: 264px;
    height: 264px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 16px;
    padding: 32px;
    box-sizing: border-box;

    &:nth-child(odd) {
      transform: translateY(80px);
    }

    &-list {
      list-style: none;
      padding: 0;
      padding-top: 24px;
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    &-link {
      margin-top: auto;
      display: flex;
      align-items: center;
      gap: 15px;
      text-decoration: none;
      font-weight: 600;

      font-family:
        Poppins Arial,
        Helvetica,
        sans-serif;
      font-weight: 600;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: 0px;
      text-align: center;
      color: #334563;
    }

    &-num {
      font-family:
        Poppins Arial,
        Helvetica,
        sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 100%;
      letter-spacing: 0px;
      text-align: center;
      text-transform: uppercase;
      color: #2060f6;
    }

    &-item {
      font-family:
        Open Sans Arial,
        Helvetica,
        sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 150%;
      letter-spacing: 0px;
      color: #6c788b;
    }

    &-icon {
      object-fit: contain;
      width: 26px;
      height: 26px;
    }
    &-circle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      background-color: #2563eb;
      border-radius: 50%;
    }
    &-list {
      font-family:
        Open Sans Arial,
        Helvetica,
        sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 150%;
      letter-spacing: 0px;
    }
  }
}
