.process {
  padding: 100px 227px;

  &-inner {
    display: flex;
    gap: 40px;
    align-items: flex-start;
    justify-content: space-between;
  }

  &-info {
    width: 40%;
  }

  &-subtitle {
    padding: 0;

    font-family: 'Poppins Arial', Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 100%;
    color: #c0cdd7;
    text-align: start;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  &-title {
    font-family: 'Poppins Arial', Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0;
    vertical-align: middle;
  }

  &-desc {
    align-items: center;

    font-family: 'Open Sans Arial', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    color: #6c788b;
    letter-spacing: 0;
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 55%;
  }

  &-number-circule {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 46px;
    height: 24px;
    border-radius: 23px;

    background-color: rgba(32, 96, 246, 0.1);
  }

  &-card {
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 264px;
    height: 264px;
    padding: 32px;
    border-radius: 16px;

    background-color: #fff;

    &:nth-child(odd) {
      transform: translateY(80px);
    }

    &-list {
      display: flex;
      flex-direction: column;
      gap: 4px;

      padding: 0;
      padding-top: 24px;

      font-family: 'Open Sans Arial', Helvetica, sans-serif;
      font-size: 13px;
      font-weight: 600;
      line-height: 150%;
      letter-spacing: 0;
      list-style: none;
    }

    &-link {
      display: flex;
      gap: 15px;
      align-items: center;

      margin-top: auto;

      font-family: 'Poppins Arial', Helvetica, sans-serif;
      font-size: 15px;
      font-weight: 600;
      line-height: 100%;
      color: #334563;
      text-align: center;
      text-decoration: none;
      letter-spacing: 0;
    }

    &-num {
      font-family: 'Poppins Arial', Helvetica, sans-serif;
      font-size: 13px;
      font-weight: 600;
      line-height: 100%;
      color: #2060f6;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0;
    }

    &-item {
      font-family: 'Open Sans Arial', Helvetica, sans-serif;
      font-size: 13px;
      font-weight: 600;
      line-height: 150%;
      color: #6c788b;
      letter-spacing: 0;
    }

    &-icon {
      width: 26px;
      height: 26px;
      object-fit: contain;
    }
    &-circle {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 40px;
      height: 40px;
      border-radius: 50%;

      background-color: #2563eb;
      transition: transform 0.3s linear;

      &:hover{
        transform: scale(1.2);
      }
    }
  }
}
