.who-we-are {
  margin-top: 148px;
  margin-bottom: 148px;
  &-label {
    font-family: 'Poppins Arial', Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 150%;
    color: #253757;
    text-align: center;
    letter-spacing: 0;
    vertical-align: middle;
  }

  &-text {
    font-family:
      'Open Sans' Arial,
      Helvetica,
      sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
    color: #6c788b;
    text-align: center;
    letter-spacing: 0;
  }
}
